*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.mainDiv{    
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background: #5c9096;
}

.mainDiv .nav{
    position: fixed;
    height: 70px;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: row;
    padding: 10px;
    z-index: 1000;
}

.mainDiv .nav .leftSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainDiv .nav .rightSide{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.mainDiv .nav a{
    margin: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.mainDiv .nav a:hover{
    color: orange;
}

.bodyDiv{
    padding: 90px 20px 20px 20px;
}